# Dependenci
/
distd/ries
builctouild dire
# B
uploads/public/uploads/
ploads

# Usqlite3
te
*.*.db
*.sqlise
 Databambs.db

#mbs.db
Thu
ehthuashesTr
.ight-V100.Spotl?
._*
oreStre
.DS_Sto files
.DS_rated OS gene

#
*~
*.swowp/
*.sea/
.id.vscodefiles
ies and ectorir# Editor demp/


tmp/
tdersary fol
# Temporybook-out

.out
.storutputsbook build o# Storypublic


e/iles
.cachGatsby f
dist

# t
.nuxtutpu generate o build /
# Nuxt.js
nextd output
.builjs 

# Next.arcel-cache
.cache
.p cachendler-bu

# parcelv
.env.test.enbles file
iaonment varir envotenv
# dity
integre
.yarn-ilgrity fte Yarn Intgz

#ck'
*.m pa'npOutput of # ry

_repl_history
.nodeto hisnal REPLOptio_umd/

# .rts2_cachehe_es/
rts2_cacjs/
.cache_cche/
.rts2_
.rpt2_cale cache# Microbundhe

ntcacli cache
.esl eslint
# Optionaory
.npm
cache directnal npm 

# Optioldinfoche
*.tsbuit ca
# TypeScrip
ings/iles
typ fonaraticl1 de veScript

# Typs/m_packageules/
jspe_mod
noddirectoriesency nd# Depeease

Reluild/addons
bd binary 

# Compilecriptk-wsoc.l
gurationf confi# node-waponents

ower_comrectory
bency diendr dep

# Bowee
.gruntstoragiate termednt inut

# Gru.nyc_outpt coverage

# nyc tesv
ge/
*.lcol
coveralike istanbuools used by tctory direrage 
# Covepid.lock

*.d
*.seed
pids
*.pitime data# Run.log*


lerna-debugrror.log**
yarn-elogn-debug.g.log*
yardebulog
npm-ogs/
*.
# Logs
lcal
n.loproductioenv.st.local
.cal
.env.teent.lovelopm
.env.deal
.env.locs
.envt variablenvironmen.log*

# Eyarn-errorug.log*
arn-deb.log*
yebugles/
npm-dmodunode_
node_modules
